*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
cover/

#Translations
*.mo

# PyCharm / Eclipse / Other IDEs
.idea
.settings
.project
.pydevproject

# documentation
doc/source/api
!doc/source/_static
!doc/source/_templates

# logging
*.log
